<section class="service-area">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<section class="footer-widget-area">
    <div class="container">
        <div class="row">
            <div class="single-service w33p">
                <div class="service-icon">
                    <div class="service-tablecell">
                        <a target="_blank" href="{{meta.fb_page}}"><i class="fa fa-facebook fa-2x red"></i></a>
                    </div>
                </div>
                <a target="_blank" class="red" href="{{meta.fb_page}}">fb.com/xichkedotcom</a>
            </div>
            <div class="single-service w33p">
                <div class="service-icon">
                    <div class="service-tablecell">
                        <a target="_blank" class="red" href="{{meta.youtube_channel}}"><i class="fa fa-youtube fa-2x red"></i></a>
                    </div>
                </div>
                <a target="_blank" class="red" href="{{meta.youtube_channel}}">youtube.com/xichke</a>
            </div>
            <div class="single-service w33p">
                <div class="service-icon">
                    <div class="service-tablecell">
                        <a class="red" href="tel:0911779917"><i class="fa fa-phone fa-2x red"></i></a>
                    </div>
                </div>
                <a class="red" href="tel:{{meta.phone}}">{{meta.phone}}</a>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="footer-left">
                    <p>Copyright &copy; 2017<a href="/">Xích Kê</a>. All rights reserved.</p><br/><br/>
                    <p>Anh em cùng đam mê xin mời subcribe Youtube, like trang Facebook và nếu cần gì đừng ngại chat hoặc gọi điện trực tiếp cho mình nhé. Xin cảm ơn!</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="fb-root"></div>
